:root {
  --background: #05050a;
  --foreground: #ffffff;
  --primary: #3b82f6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

a {
  text-decoration: none;
  color: inherit;
}